services:
  backend:
    build: ./backend
    container_name: tp-backend
    env_file:
      - .env
    expose:
      - "8000"

  frontend:
    build: ./frontend
    container_name: tp-frontend
    expose:
      - "80"

  reverse-proxy:
    build: ./reverse-proxy
    container_name: tp-proxy
    depends_on:
      - backend
      - frontend
    ports:
      - "8080:80"