services:
  backend:
    build: ./backend
    container_name: tp-backend
    env_file:
      - .env.production
    expose:
      - "8000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: tp-frontend
    expose:
      - "80"
    restart: unless-stopped

  reverse-proxy:
    build: ./reverse-proxy
    container_name: tp-proxy
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
    restart: unless-stopped